body{
    font-family:"Arial", Serif;    
  }

.dropdown_content_side_clicked{
  display: none!important;
}

a.nav-link{
  color:black;
}

.push_end_header{
  height: 32px;
}

/* overide bootstrap */
.dropdown-item{
  text-align: center;
}

.flags{
  padding-top: 20px;
  cursor: pointer;
}

  /* button to open the side nav*/
  .butSide{
    margin: 15px;
    cursor: pointer;
  }

  /* Slide navbar*/
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    /* opacity:0.9; */
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  /* li of the Slide navbar*/
  .side-nav li{
    padding:10px 30px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  /* link of the Slide navbar*/
  .side-nav a{
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }

  /* event hover on the link of the Slide navbar*/
  .side-nav a:hover{
    color:#fff;
  }
  
  /* button close of the Slide navbar */
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  

  
/* dropdown*/
  .dropdown {
  display: block;
  float: left;
  cursor:pointer;  
}

 /* dropdown content*/
.dropdown-content {
  margin-top: 64px;
  display: none;
  position: absolute;
  min-width: 113px;
  background-color: #f9f9f9;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
  float: none;
  cursor:pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* dropdown for the side navbar*/

/* push down an element*/
.push_down{
  margin-bottom: 35px;
}
  
/* dropdown for the slide navbar*/
.dropdown_side {
  display: block;
  cursor:pointer;  
}

/* dropdown content for the slide navbar*/
.dropdown-content_side {
  margin-top: 0px;
  display: none;
  position: fixed;
  min-width: 100px;
  background-color: #f9f9f9;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown for the slide navbar */
.dropdown-content_side a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
  float: none;
  cursor:pointer;
  text-align: center;
}

/* event hover dropdown content of the slide navbar*/
.dropdown-content_side a:hover {
  color: black;
  background-color: gray;
}


/* Show the dropdown menu on hover for the slide navbar */
.dropdown_side:hover .dropdown-content_side {
  display: block;
}


/* configuration of thw size of the screen */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  .navbare-nav{display:none}

  .but_side-nav_navbare{
    background: white;
    color: black;
    height:56px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  .but{display:none}
  .side-nav{display:none}
  .but_side-nav_navbare{display:none}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  .but{display:none}
  .side-nav{display:none}
  .but_side-nav_navbare{display:none}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  .but{display:none}
  .side-nav{display:none}
  .but_side-nav_navbare{display:none}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .but{display:none}
  .side-nav{display:none}
  .but_side-nav_navbare{display:none}
}

