<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <br>
        <br>
        <div class="col-md-12">
          <br>
          <h3 class="text-center" translate>
            OUR_ARTICLES            
          </h3>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Article Name
                </th>
                <th>
                  Article Date
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let article of articles, let i = index ">
                <td>
                  {{i}}
                </td>
                <td>
                  <a routerLink="/view-article/{{article._id}}">{{article.title}}</a>
                </td>
                <td>
                  01/04/2012
                </td>
                <td *ngIf="isItAdmin()">
                  <a routerLink="/edit-article/{{article._id}}">Edit</a>
                </td>
                <td *ngIf="isItAdmin()">
                  <a (click)="onDelete(article._id)" style="cursor:pointer;">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>