.m_beforeBox{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.m_beforeBox_mini{
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.m_image{
  width: 200px;
  height: 200px;
  /*align the image*/
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50%;
}

.m_box{
  text-align: center;
  line-height: 200%;
  padding-left: 50px;
  padding-right: 50px;
  color: #00A99D;
}

.checked {
  color: orange;
}

@media (max-width: 575px) {
  .m_beforeBox{
    display: none;
  }
  .m_beforeBox_mini{
    display: block;
  }
  .m_box{
    font-size: 20px;
  }
 }

 @media (min-width: 575px) {
  .m_beforeBox{
    display: block;
  }
  .m_beforeBox_mini{
    display: none;
  }
 }
  