<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="isItAdmin() && showEdit" class="row">
        <div class="col-md-12">
          <div class="center">
            <h4>Admin Management</h4>
            <button type="button" (click)="onEdit()" class="btn btn-outline-primary">Edit</button>
            <button type="button" (click)="onDelete()" class="btn btn-outline-danger">Delete</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-top:15px;">
          <i *ngIf="isItAdmin()" class="fa fa-pencil-square-o" style="margin: auto;width: 100%;text-align: center;" (click)="onShowEdit()" aria-hidden="true"></i>
          <h3 class="text-center">
            {{article?.title}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img alt="Image" [src]="article?.image" style="display:block;width:600px;height:500px ;margin-left:auto;margin-right:auto;"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <div [innerHTML]="article?.content"></div> -->
          <div class="content" id="theContent"></div>
          <!-- with document.getElementById('theContent').innerHTML=article.content;-->
        </div>
      </div>
    </div>
  </div>
</div>