<div class="container" class="m_article" [style.display]="display">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="isItAdmin() && showEdit" class="row">
        <div class="col-md-12">
          <div class="center">
            <h4>Admin Management</h4>
            <button type="button" (click)="onEdit()" class="btn btn-outline-primary">Edit</button>
            <button type="button" (click)="onDelete()" class="btn btn-outline-danger">Delete</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-top:15px;">
          <i *ngIf="isItAdmin()" class="fa fa-pencil-square-o" style="margin: auto;width: 100%;text-align: center;" (click)="onShowEdit()"
            aria-hidden="true"></i>
          <h3 class="text-center">
            {{article?.title}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <img *ngIf="showImage" class="m_image" [src]="article?.image" />
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <button type="button" (click)="shareArticle()" class="btn btn-facebook my_but">
            <i class="fa fa-facebook"></i>
            <span translate>SHARE</span>
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="content" id="theContent"></div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
</div>