<div class="container">
  <div class="row" *ngIf="loading" style="padding-top:20px;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center">
      <div class="loader"></div>
    </div>
  </div>
  <div [style.display]="display">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div *ngIf="isItAdmin() && showEdit" class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="center">
              <h4>Admin Management</h4>
              <button type="button" (click)="onEdit()" class="btn btn-outline-primary">Edit</button>
              <button type="button" (click)="onDelete()" class="btn btn-outline-danger">Delete</button>
              <br>
              <br>
              <!-- Rounded switch -->
              <label class="switch">
                <input type="checkbox" [ngModel]="articleValid" (change)="validateArticle($event)">
                <span class="slider round"></span>
              </label>
              <hr>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <i *ngIf="isItAdmin()" class="fa fa-pencil-square-o" style="margin: auto;width: 100%;text-align: center;cursor: pointer;"
              (click)="onShowEdit()" aria-hidden="true"></i>
            <h3 class="text-center" style="direction: rtl;">
              {{article?.title}}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <img *ngIf="showImage" class="m_image" [src]="article?.image" />
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <button type="button" (click)="shareArticle()" class="btn btn-facebook my_but">
              <i class="fa fa-facebook"></i>
              <span translate>SHARE</span>
            </button>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
            <div class="content" id="theContent"></div>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>