.prev_article{
    height: auto;
    width: 100%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .m_image{
        width: 60%;
        max-height: 200px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        cursor: pointer;
    }
    .push{
        height: 8px;
    }
    .m_titleLeft{
        text-align: center;
        color: black;
        font-size: 25px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introLeft{
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }

    .m_titleRight{
        text-align: center;
        color: black;
        font-size: 25px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introRight{
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .m_image{
        width: 100%;
        max-height: 200px;
        cursor: pointer;
    }
    .push{
        height: 15px;
    }
    .m_titleLeft{
        text-align: left;
        color: black;
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introLeft{
        text-align: left;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }

    .m_titleRight{
        text-align: right;
        color: black;
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introRight{
        text-align: right;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .m_image{
        width: 100%;
        max-height: 200px;
        cursor: pointer;
    }
    .push{
        height: 25px;
    }
    .m_titleLeft{
        text-align: left;
        color: black;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introLeft{
        text-align: left;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }

    .m_titleRight{
        text-align: right;
        color: black;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introRight{
        text-align: right;
        font-size: 10px;
        cursor: pointer;
        color:#696969;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .m_image{
        width: 100%;
        max-height: 300px;
        cursor: pointer;
    }
    .push{
        height: 25px;
    }
    .m_titleLeft{
        text-align: left;
        color: black;
        font-size: 30px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introLeft{
        text-align: left;
        font-size: 15px;
        cursor: pointer;
        color:#696969;
    }

    .m_titleRight{
        text-align: right;
        color: black;
        font-size: 30px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introRight{
        text-align: right;
        font-size: 15px;
        cursor: pointer;
        color:#696969;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .m_image{
        width: 100%;
        max-height: 300px;
        cursor: pointer;
    }
    .push{
        height: 25px;
    }
    .m_titleLeft{
        text-align: left;
        color: black;
        font-size: 35px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introLeft{
        text-align: left;
        font-size: 20px;
        cursor: pointer;
        color:#696969;
    }

    .m_titleRight{
        text-align: right;
        color: black;
        font-size: 35px;
        cursor: pointer;
        font-weight: bold;
    }
    .m_introRight{
        text-align: right;
        font-size: 20px;
        cursor: pointer;
        color:#696969;
    }
    
}
