.m_img{
    width: 200px;
    height: 200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.m_title{
    text-align: center;
    color: blue;
}

.m_title{
    text-align: center;
    color: blue;
}

.m_date{
    text-align: center
}