<div class="about">
  <h1 style="text-align:center;" translate>
    ABOUT_US
  </h1>
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
      <div class="push"></div>
      <div class="push"></div>
      <img class="m_image" src="../../assets/Images/about.jpg">
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
      <div class="m_text">
        <div class="push"></div>
        <div class="m_title">
          <span translate>GABRIEL</span>
        </div>
        <div class="push"></div>
        <div class="m_intro">
          <span translate>SPORT_COACH</span>
          <div class="push"></div>
          <span translate>GRADUATE_OF_WINGATE</span>
          <div class="push"></div>
          <span translate>MANY_YEARS_IN_DOMAIN</span>
          <div class="push"></div>
          <span translate>SPECIALIZATION</span>
          <div class="push"></div>
          <span translate>STABILITY_COORDINATION</span>
          <div class="push"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
    </div>
  </div>
</div>