<div class="container-fluid" style="min-height: 800px;">
  <div class="row">
    <div class="my_sidenav_normalScreen" id="normalScreen">
      <li routerLinkActive="active" class="theLinkss">
        <a routerLink="/admin/article">Articles</a>
      </li>
      <li routerLinkActive="active" class="theLinkss">
        <a routerLink="/admin/user-management">Users</a>
      </li>
      <li routerLinkActive="active" class="theLinkss">
        <a routerLink="/profile">Profile</a>
      </li>
      <li routerLinkActive="active" class="theLinkss">
        <a routerLink="/logout">Logout</a>
      </li>
    </div>

    <div class="my_sidenav_smallScreen" id="smallScreen">
      <br>
      <div class="select">
        <select name="slct" id="slct" (change)="onChange($event.target.value)">
          <option>Choose a page</option>
          <option value="admin/article">Articles</option>
          <option value="admin/user-management">Users</option>
          <option value="/profile">Profile</option>
          <option value="/logout">Logout</option>
        </select>
      </div>
      <br>
      <hr>

    </div>

    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-1">
      <br>
      <h5 style="text-align:center;" translate>ADMINISTRATION_SPACE</h5>
      <hr>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>