<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li>
					<a routerLink="/article-admin">Back</a>
				</li>
			</ul>
			<hr>
			<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="title" class="center_label" translate>
								TITLE
							</label>
							<input type="text" class="form-control" id="title" formControlName="title" style="text-align:center;direction: rtl;" />
						</div>
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img *ngIf="loaded" alt="Image" [src]="imageBase64Temp" style="display:block;width:auto;margin-left:auto;margin-right:auto;width: 400px;height: 400px;"
						/>
						<div class="row">
							<div class="col-md-12">
								<div>
									<div class="form-group">
										<div style="display: flex;align-items: center;justify-content: center;">
											<label for="imageFile" class="center_label">Image:
												<input type="File" (change)="onUploadFile(file.files)" id="imageFile" #file />
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<div class="form-group">

							<label for="article_intro" class="center_label" translate>
								INTRODUCTION
							</label>
							<textarea rows="4" style="text-align: right;direction: rtl;resize:none;" id="article_intro" name="intro" class="form-control"
							 formControlName="intro">                
						  </textarea>
						  <small [hidden]="rForm.controls.intro.valid || rForm.controls.intro.pristine" class="text-danger">
							Write your text in 150 characters maximum
						</small>
						</div>
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">

							<label for="article_details" class="center_label" translate>
								ARTICLE
							</label>
							<textarea [froalaEditor] id="article_details" rows="15" style="width:100%;resize:none;direction: rtl;" formControlName="content"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="display: flex;align-items: center;justify-content: center;">
							<input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid" style="display: flex;align-items: center;justify-content: center;">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>