<div [style.direction]="langDirection" [style.text-align]="langTextAlign" [style.min-height.px]="heightPage">
  <div [style.height.px]="(heightPage/5)"></div>
  <h1 style="text-align:center;" translate>CONTACT_US</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <div class="m_box_intro">
        <div class="m_intro" [style.font-size]="fontSize + 'px'">
          <span translate>CONTACT_US_INTRO_1</span>
          <br>
          <br>
          <span translate>CONTACT_US_INTRO_2</span>
          <br>
          <br>
          <span translate>CONTACT_US_INTRO_3</span>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <ng-template [ngIf]="!envoyer">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="name" translate>NAME</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required [readonly]="connected" class="form-control" [style.text-align]="langTextAlign">
          </div>
          <div class="form-group">
            <label for="email" translate>EMAIL</label>
            <input email type="email" id="email" name="email" [(ngModel)]="email" required [readonly]="connected" class="form-control"
              style="text-align: left;direction: ltr;">
          </div>
          <div class="form-group">
            <label for="description" translate>DESCRIPTION</label>
            <textarea type="text" id="description" name="description" class="form-control" ngModel required rows="6" style="text-align: right;resize:none;"
              [style.text-align]="langTextAlign">
                  </textarea>
          </div>

          <div class="m_box_intro">
            <button type="submit" style="width:140px;text-align: center;" [disabled]="!f.valid" class="btn btn-secondary">
              <i class="fa fa-envelope-o" style="font-size:24px"></i>
              <span translate>SEND</span>
            </button>
          </div>
        </form>
      </ng-template>
      <ng-template [ngIf]="envoyer">
        <ng-template [ngIf]="!sent">
          <div class="loaderr"></div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div [style.height.px]="(heightPage/5)"></div>
</div>