<div class="container-fluid" style="margin: auto; padding:20px;" [style.direction]="langDirection" [style.text-align]="langTextAlign">
  <h1 style="text-align:center;" translate>CONTACT_US</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <ng-template [ngIf]="!envoyer">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="name" translate>NAME</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required [readonly]="connected" class="form-control" [style.text-align]="langTextAlign">
          </div>
          <div class="form-group">
            <label for="email" translate>EMAIL</label>
            <input email type="email" id="email" name="email" [(ngModel)]="email" required [readonly]="connected" class="form-control"
              style="text-align: left;direction: ltr;">
          </div>
          <div class="form-group">
            <label for="description" translate>DESCRIPTION</label>
            <textarea type="text" id="description" name="description" class="form-control" ngModel required rows="6" style="text-align: right;resize:none;"
              [style.text-align]="langTextAlign">
                  </textarea>
          </div>

          <button type="submit" [disabled]="!f.valid" class="btn btn-success" translate>SEND</button>
        </form>
      </ng-template>
      <ng-template [ngIf]="envoyer">
        <ng-template [ngIf]="!sent">
          <div class="loaderr"></div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <div class="m_intro">
        בא ליצור שגרת פעילות ספורטיבית כאורח חיים, לקבל הרגשה עצמית יותר טובה, גוף יותר חזק ויותר בריא, כי אין יותר כייף מלהרגיש
        שאתה משקיע בעצמך! מעוניין בחיזוק עיצוב וחיטוב הגוף שלך? להוריד במשקל? להעלות מסת שריר? לעבוד על הסיבולת לב ריאה והגמישות
        שלך? רוצה לשמוע עוד ? תשאיר לנו פרטים ונחזור אליך בהקדם !
      </div>
    </div>
  </div>
</div>