<div class="container" style="margin: auto; padding:20px;" [style.direction]="langDirection" [style.text-align]="langTextAlign">
  <h1 style="text-align:center;" translate>CONTACT_US</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-7 col-lg-7">
      <ng-template [ngIf]="!envoyer">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <h3 translate>ANY_QUERY_POP_US_A_MESSAGE</h3>
          <div class="form-group">
            <label for="name" translate>NAME</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required [readonly]="connected" class="form-control" style="text-align: right;">
          </div>
          <div class="form-group">
            <label for="email" translate>EMAIL</label>
            <input email type="email" id="email" name="email" [(ngModel)]="email" required [readonly]="connected" class="form-control"
              style="text-align: left;direction: ltr;">
          </div>
          <div class="form-group">
            <label for="description" translate>DESCRIPTION</label>
            <textarea type="text" id="description" name="description" style="resize:none;" class="form-control" ngModel required rows="6"
              style="text-align: right;">
                  </textarea>
          </div>

          <button type="submit" [disabled]="!f.valid" class="btn btn-success" translate>SEND</button>
        </form>
      </ng-template>
      <ng-template [ngIf]="envoyer">
        <ng-template [ngIf]="!sent">
          <div class="loaderr"></div>
        </ng-template>
      </ng-template>
    </div>
    <div class="col-md-5 col-lg-5">
      <h3>
        <span translate>WHERE_ARE_US</span> ?</h3>
      <div class="outsidegoogle gmap">
        <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d13566.15753866934!2d35.203464883182775!3d31.783046750534258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x150329d3dc03559f%3A0xe8536e10d92ae82f!2sWaldorf+Astoria+Jerusalem%2C+26-28+Agron+Street%2C+Jerusalem%2C+9419008!3m2!1d31.7775447!2d35.221895599999996!4m5!1s0x1502d6303546d5f7%3A0x498456dccedf5c0e!2sThe+International+Convention+Center+(ICC)+-+Binyanei+HaUma%2C+Jerusalem!3m2!1d31.786442299999997!2d35.2023975!5e0!3m2!1sen!2sil!4v1508946708040"
          width="300" height="300" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>