<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
      <h2 class="m_title" translate>MY_SPACE</h2>
    </div>
  </div>
  <div class="m_push"></div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
      <h4 class="m_title" translate>MY_PROFILE</h4>
    </div>
  </div>
  <div class="m_push"></div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="myForm" (ngSubmit)="onSave()" [style.direction]="langDirection" [style.text-align]="langTextAlign">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img alt="Image" *ngIf="imageExist" [src]="imageToDisplay" class="m_image" />
            <img alt="Image" *ngIf="!imageExist" src="../../../../assets/Images/user-space/profile/profile.ico" class="m_image" />
            <div class="m_push"></div>
            <div class="form-group">
              <div style="display: flex;align-items: center;justify-content: center;">
                <label for="imageFile" class="center_label">
                  <input type="File" (change)="onUploadFile(file.files)" id="imageFile" #file />
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="userName" translate>USER_NAME</label>
              <input type="text" id="userName" class="form-control" formControlName="userName">
              <small [hidden]="myForm.controls.userName.valid || myForm.controls.userName.pristine" class="text-danger">
                <span translate>USER_NAME_IS_REQUIRED</span>
              </small>
            </div>
            <div class="form-group">
              <label for="phone" translate>PHONE</label>
              <input type="text" id="phone" class="form-control" formControlName="phone">
            </div>
            <div class="form-group">
              <label for="street" translate>STREET</label>
              <input type="text" id="street" class="form-control" formControlName="street">
            </div>
            <div class="form-group">
              <label for="streetNumber" translate>STREET_NUM</label>
              <input type="number" id="streetNumber" class="form-control" formControlName="streetNumber">
            </div>
            <div class="form-group">
              <label for="city" translate>CITY</label>
              <input type="text" id="city" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
              <label for="country" translate>COUNTRY</label>
              <input type="text" id="country" class="form-control" formControlName="country">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
            <button [disabled]="!myForm.valid" type="submit" class="btn btn-default" translate>SAVE</button>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: center;">
            <button type="button" class="btn btn-default" (click)="editCancel()" translate>CANCEL</button>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>