<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 translate>SIGNUP_PAGE</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-top: 60px;" class="col-lg-8 col-md-7 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Sign up with</div>
                        <div class="panel-body" align="center">
                            <a class="btn btn-social btn-facebook" (click)="fbLogin()">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row signupCl">
                <div class="col-md-8">
                    <img class="img" src="./assets/Images/Signup/sport1.png" />
                </div>
                <div class="col-md-4">
                    <form class="formCl" [formGroup]="myForm" (ngSubmit)=onSubmit() [style.text-align]="langTextAlign" [style.direction]="langDirection">
                        <div class="form-group">
                            <label for="userName" translate>USER_NAME</label>
                            <input type="text" id="userName" class="form-control" formControlName="userName">
                            <small translate [hidden]="myForm.controls.userName.valid || myForm.controls.userName.pristine" class="text-danger">
                                USER_NAME_IS_REQUIRED
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="email" translate>EMAIL</label>
                            <input type="email" id="email" class="form-control forcedirection" formControlName="email">
                            <small translate [hidden]="myForm.controls.email.valid || myForm.controls.email.pristine" class="text-danger">
                                EMAIL_IS_REQUIRED_WITH_THE_CORRECT_FORMAT
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="password" translate>PASSWORD</label>
                            <input type="password" id="password" class="form-control forcedirection" formControlName="password">
                            <small translate [hidden]="myForm.controls.password.valid || myForm.controls.password.pristine" class="text-danger">
                                PASSWORD_IS_REQUIRED
                                <br> MINIMUM_LENGTH_OF_SIXT_CHARACTERS_IS_REQUIRED
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" translate>CONFIRM_PASSWORD</label>
                            <input type="password" id="confirmPassword" class="form-control forcedirection" formControlName="confirmPassword">
                            <small translate [hidden]="myForm.controls.confirmPassword.valid || myForm.controls.confirmPassword.pristine" class="text-danger">
                                PASSWORD_MISMATCH
                            </small>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid" translate>SIGNUP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>