<div class="col-md-8 col-md-offset-2" style="margin: auto; padding:20px;">
    <form [formGroup]="myForm" (ngSubmit)=onSubmit()>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
            <small [hidden]="myForm.controls.firstName.valid || myForm.controls.firstName.pristine" class="text-danger">
                First Name is required
            </small>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
            <small [hidden]="myForm.controls.lastName.valid || myForm.controls.lastName.pristine" class="text-danger">
                Last Name is required
            </small>
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <small [hidden]="myForm.controls.email.valid || myForm.controls.email.pristine" class="text-danger">
                Email is required with the correct format
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            <small [hidden]="myForm.controls.password.valid || myForm.controls.password.pristine" class="text-danger">
                Password is required
                <br> Minimum length of 6 characters is required
            </small>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <small [hidden]="myForm.controls.confirmPassword.valid || myForm.controls.confirmPassword.pristine" class="text-danger">
                Password mismatch
            </small>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>