<div class="container-fluid">
  <h1 style="text-align:center;">Confirm your Account</h1>
  <br>
  <br>


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p style="font:bold;color:red">{{message}}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid" *ngIf="userFound">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
          <strong>Hi {{user?.userName}}</strong> ,
          <br> Please confirm your account by entering your secret code received in the mail
          <br>
          <br>
        </div>
        <div class="row" *ngIf="!validate">
          <div class="col-md-2">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="form-group">
                <label for="secretCode">Your secret code:</label>
                <input secretCode type="text" name="secretCode" required ngModel class="form-control" />
              </div>
              <button type="submit" [disabled]="!f.valid" class="btn btn-success">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>