<div class="footer" id="myFotter">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    © 2018 All rights reserved. G-FIT
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <fb-like href="https://www.facebook.com/gfitisrael/"></fb-like>
                </div>
            </div>
        </div>
    </div>
</div>