.m_title{
    text-align: center;
    color: blue;
}

.imgLast{
    width: 100%;
    height: 350px;
}

.part1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.m_intro{
    text-align: right;
}

.m_date{
    text-align: center
}