<div class="container">
    <div class="row part1" (click)="onClick()">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <img class="m_image" [src]="lastArticle?.image">
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <div class="m_title">{{lastArticle?.title}}</div>
            <br>
            <div class="m_intro">{{lastArticle?.intro}}</div>
            <br>
            <div class="m_date">{{lastArticle?.date | date}}</div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-articles-list></app-articles-list>
        </div>
    </div>
</div>