<div class="col-md-12" *ngIf="isLoggedIn()">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="content">Content</label>
                <textarea 
                    class="form-control"
                    rows="4" 
                    id="content"
                    [ngModel]="guestbookMessage?.content" 
                    name="content"
                    required
                    style="resize:none;">
                </textarea>
            </div>
            <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>        
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
        </form>
    </div>