<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center;">
				My personal training
			</h1>
			<img style="display:block;width:auto;margin-left:auto;margin-right:auto;"   alt="Bootstrap Image Preview" src="http://www.fitness-online.fr/img/images-228/bh-fitness-tt-maxima.jpg" class="img-circle" />
			<div class="row">
				<div class="col-md-6">
					<h2>
						Heading
					</h2>
					<p>
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
				</div>
				<div class="col-md-6">
					<img alt="Bootstrap Image Preview" src="https://sc02.alicdn.com/kf/HTB1XRGLLXXXXXcXXXXXq6xXFXXX6/Body-Solid-Pro-Dual-Press-Arm-Station.jpg_350x350.jpg" class="img-thumbnail" />
				</div>
			</div>
		</div>
	</div>
</div>