<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 translate>SIGNIN_PAGE</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-top: 60px;" class="col-lg-8 col-md-7 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Sign in with</div>
                        <div class="panel-body" align="center">
                            <a class="btn btn-social btn-facebook" (click)="fbLogin()">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row signinCl">
                <div class="col-md-8">
                    <img class="img" src="./assets/Images/Signin/sport1.jpg" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <form class="formCl" [formGroup]="myForm" [style.text-align]="langTextAlign" (ngSubmit)=onSubmit()>
                        <div class="form-group">
                            <label for="email" translate>EMAIL</label>
                            <input type="email" id="email" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password" translate>PASSWORD</label>
                            <input type="password" id="password" class="form-control" formControlName="password">
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>