<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 translate>SIGNIN_PAGE</h1>
                    </div>
                </div>
            </div>
            <div class="row signinCl">
                <div class="col-md-8">
                    <img class="img" src="./assets/Images/Signin/sport1.jpg" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <form class="formCl" [formGroup]="myForm" [style.text-align]="langTextAlign" (ngSubmit)=onSubmit()>
                        <div class="form-group">
                            <label for="email" translate>EMAIL</label>
                            <input type="email" id="email" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password" translate>PASSWORD</label>
                            <input type="password" id="password" class="form-control" formControlName="password">
                        </div>
                        <button class="btn btn-primary" type="submit" translate>LOGIN</button>
                    </form>
                    <div *ngIf="enterEmail" translate [style.text-align]="langTextAlign">
                        <span translate style="font-size: 13px;color:red">EMAIL_IS_REQUIRED_WITH_THE_CORRECT_FORMAT</span>
                    </div>
                    <div *ngIf="enterPassword" translate [style.text-align]="langTextAlign">
                        <span translate style="font-size: 13px;color:red">PASSWORD_IS_REQUIRED</span>
                    </div>
                    <div *ngIf="!alreadyPasswordForgot" translate [style.text-align]="langTextAlign">
                        <span translate style="font-size: 12px;color:blue;cursor: pointer;" (click)="forgotPassword()">FORGOT_PASSWORD</span>
                    </div>
                    <div translate [style.text-align]="langTextAlign">
                        <br> CONNECT_WITH
                        <br>
                    </div>
                    <button type="button" (click)="fbLogin()" class="btn btn-facebook my_but">
                        <i class="fa fa-facebook"></i> Facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>