.homePage{
    background: white;
   }

.loadMore{
    height: 70px;
    background-color: #00A99D;
    border: none;
    text-align: center;
    padding-top: 8px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.anchor {
    display: block;
    position: relative;
    top: -50px; 
    visibility: hidden;
}
      
.m_logo{
   height: auto;
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
   
.betweenSection{
    height: 50px;
}
   
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .carre{
        padding-top: 180px;
    }
 
    ._before_intro{
        height: 270px;
    }

    .m_intro{
        background-color: #00A99D;
        color:white;
        text-align: center;
        font-size: 22px;
        line-height: 200%;
        padding-top: 66px;
    }

    .articles_section{
     min-height: 900px;
 }  
 m_before_intro{
    background-color: #00A99D;
 }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .carre{
        padding-top: 172px;
    }
 
    ._before_intro{
        height: 270px;
    }

    .m_intro{
        background-color: #00A99D;
        text-align: center;
        font-size: 25px;
        color:white;
        line-height: 200%;
        padding-top: 35px;
    }

    .articles_section{
     min-height: 400px;
 }
 m_before_intro{
    background-color: #00A99D;
 }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .carre{
        padding-top: 200px;
    }
 
    ._before_intro{
        height: 290px;
    }

    .m_intro{
        background-color: #00A99D;
        text-align: center;
        font-size: 26px;
        color:white;
        line-height: 200%;
        padding-top: 46px;
    }

    .articles_section{
     min-height: 600px;
 }    
 m_before_intro{
    background-color: #00A99D;
 }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 

    .carre{
        padding-top: 190px;
    }
 
    ._before_intro{
        height: 275px;
    }

    .m_intro{
        background-color: #00A99D;
        text-align: center;
        font-size: 29px;
        color:white;
        line-height: 200%;
        padding-top: 42px;
    }

    .articles_section{
     min-height: 800px;
 }    
 m_before_intro{
    background-color: #00A99D;
 }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .carre{
        padding-top: 175px;
    }
 
    ._before_intro{
        height: 270px;
    }

    .m_intro{
        background-color: #00A99D;
        text-align: center;
        font-size: 30px;
        color:white;
        line-height: 200%;
        padding-top: 55px;
    }

    .articles_section{
     min-height: 800px;
 }    

 m_before_intro{
    background-color: #00A99D;
 }
}
