.homePage{
    background: white;
   }
   
   .anchor {
       display: block;
       position: relative;
       top: -50px; 
       visibility: hidden;
     }
      
   .carre{
       height: 200px;
       width: 100%;
       padding-left: 8%;
       padding-right:8%;
       padding-top: 3%;
       padding-bottom: 5%;
       background-color: #ff8000;    
   }
   
   .title{
       color :rgba(248, 232, 28, 1);
       font-size: 20px;
       line-height:34px;
       font-weight:600;
   }

   .betweenSection{
       height: 50px;
   }
   
   /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .carre{
        height: 160px;
        width: 100%;
        padding-left: 8%;
        padding-right:8%;
        padding-top: 3%;
        padding-bottom: 5%;
        background-color: #ff8000;    
    }

    .quotation{
        color: white;
        font-family: Open Sans, sans-serif;
        font-size: 15px;
        line-height:20px;
        font-weight:200;
    }

    .butPlay{
        padding-top: 6%;
    }

    .articles_section{
     min-height: 400px;
 }  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .quotation{
        color: white;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        line-height:30px;
        font-weight:250;
        width: 400px;
    }
    .butPlay{
        padding-top: 2%;
    }

    .articles_section{
     min-height: 400px;
 }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .quotation{
        color: white;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        line-height:35px;
        font-weight:300;
        width: 400px;
    }
    .butPlay{
        padding-top: 2%;
    }

    .articles_section{
     min-height: 600px;
 }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .quotation{
        color: white;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        line-height:30px;
        font-weight:350;
        width: 400px;
    }

    .butPlay{
        padding-top: 2%;
    }

    .articles_section{
     min-height: 800px;
 }    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .quotation{
        color: white;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        line-height:40px;
        font-weight:400;
        width: 400px;
    }

    .butPlay{
        padding-top: 2%;
    }

    .articles_section{
     min-height: 800px;
 }    
}
