<div style="min-height: 800px;" class="container-fluid homePage" (window:resize)="onResize()">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-0 col-0">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div [style.height.px]="heightPage">
                        <div [style.height.px]="(heightPage/3)"></div>
                        <img class="m_logo animated rollIn" src="../../assets/Images/homePage/GfitLogo.png">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-0 col-0">
                </div>
            </div>
            <div class="row" style="background-color: #00A99D;">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                    <div [style.height.px]="heightPage" class="m_box_intro">
                        <div class="m_intro" [style.direction]="langDirection" [style.font-size]="((widthPage+heightPage)/2) * (35/1280) + 'px'">
                            <span translate>HOME_INTRO_1</span>
                            <br>
                            <span translate>HOME_INTRO_2</span>
                            <br>
                            <span translate>HOME_INTRO_3</span>
                            <br>
                            <span translate>HOME_INTRO_4</span>
                            <br>
                            <br>
                            <div [style.direction]="langDirection">
                                <a routerLink="/" style="text-decoration: none!important;color:white;" fragment="contact-us">
                                    <span translate style="font-weight: bold;" id="m1">JOIN_US</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                </div>
            </div>

            <div class="betweenSection"></div>
            <!-- articles -->
            <div class="articles_section">
                <app-articles-list></app-articles-list>
                <div [style.direction]="langDirection" [style.text-align]="langTextAlign">
                    <br>
                    <div class="loadMore" (click)="loadMoreArticles()" style="cursor:pointer;">
                        <i class="fa fa-chevron-down"></i>
                        <span translate>LOAD_MORE_ARTICLES</span>
                    </div>
                </div>
            </div>

            <!-- <div class="betweenSection"></div> -->
            <!-- about us -->
            <!-- <div class="container">
                <div class="anchor" id="about-us"></div>
                <app-about></app-about>
            </div> -->

            <div class="betweenSection"></div>
            <!-- contact us -->
            <div class="row" style="background-color: #00A99D;">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                    <div class="anchor" id="contact-us"></div>
                    <app-contact-me></app-contact-me>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                </div>

            </div>
            <div class="betweenSection"></div>

            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                    <div class="anchor" id="thank-book"></div>
                    <app-thank-book></app-thank-book>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                </div>
            </div>

        </div>
    </div>
</div>