.homePage{
    background: white;
   }

/* .joinUs{
    height: 70px;
    background-color: white;
    border: none;
    text-align: center;
    padding-top: 8px;
    color: red;
    font-weight: bold;
    font-size: 40px;
} */

.joinUsBlink{
    width: 70%;
}

.loadMore{
    height: 70px;
    border: none;
    text-align: center;
    padding-top: 8px;
    color: #00A99D;
    font-weight: bold;
    font-size: 35px;
}
.anchor {
    display: block;
    position: relative;
    top: -50px; 
    visibility: hidden;
}
      
.m_logo{
   height: auto;
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.m_box_intro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.m_intro{
    text-align: center;
    color:white;
    line-height: 200%;
}

   
.betweenSection{
    height: 50px;
}


   
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .articles_section{
     min-height: 900px;
 }  

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .articles_section{
     min-height: 400px;
 }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .articles_section{
     min-height: 600px;
 }    

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .articles_section{
     min-height: 800px;
 }    

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .articles_section{
     min-height: 800px;
 }    

}
